 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;300&display=swap');

        .font-montserrat {
            font-family: 'Montserrat', sans-serif;
        }

        .font-open-sans {
            font-family: 'Open Sans', sans-serif;
        }
    /* Personalización del scroll */
::-webkit-scrollbar {
  width: 16px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: #000000; /* Fondo negro para el track */
}

::-webkit-scrollbar-thumb {
  background-color: #262626; /* Stone 900 para la barra de desplazamiento */
  border-radius: 6px; /* Bordes redondeados */
  border: 2px solid #000000; /* Espacio entre la barra y el track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1e1e1e; /* Más oscuro al pasar el cursor */
}

/* Para Firefox */
scrollbar-color: #262626 #000000; /* Color de la barra y del track */
scrollbar-width: thin; /* Barra delgada */

:root {
  --dark-blue: #020407;
  --otro-blue: #00020a;
  --uno-mas:#000b39;
}

.bg-dark-blue {
    background-color: #020407; /* Color específico en lugar de usar la variable */
}

.bg-otro-blue {
    background-color: #00030f; /* Color específico en lugar de usar la variable */
}
.bg-uno-mas {
    background-color: #000b39; /* Color específico en lugar de usar la variable */
}



 @keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  .animate-scroll {
    display: flex;
    width: max-content;
    animation: scroll 10s linear infinite;
  }

   .fade-mask {
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 80%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 80%);
  }

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(calc(-100% - 1rem)); }
  }
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }

  @keyframes marquee-reverse {
    from { transform: translateX(calc(-50% - 1rem)); }
    to { transform: translateX(0); }
  }
  .animate-marquee-reverse {
    animation: marquee-reverse 20s linear infinite;
  }